body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
#menu{
  background-color:rgb(248, 245, 245);
  width: 100%;
}
#lun{
  display: inline-block;
}
#bre{
  width: 100%;
  float: left;
}
#container{
  width: 960px;
  margin: 0px auto;
  text-align: center;
}
#left-column{
  width: 600px;
  float: left;
}
#right-column{
  width: 360px;
  float: right;
  background-color:rgb(239, 240, 233);
}

